@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');


div.custom_res_tab {
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
    /*height: 735px;*/
    overflow-y: auto;
}

input.custom_res_tab {
    display: none;
}

label.custom_res_tab {
    display: inline-block;
    margin: 15px 25px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label.custom_res_tab:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

/*label.custom_res_tab[for*='1']:before { content: '\f1cb'; }
label.custom_res_tab[for*='2']:before { content: '\f17d'; }
label.custom_res_tab[for*='3']:before { content: '\f16b'; }
label.custom_res_tab[for*='4']:before { content: '\f1a9'; }
label.custom_res_tab[for*='5']:before { content: '\f1cb'; }
label.custom_res_tab[for*='6']:before { content: '\f17d'; }*/

label.custom_res_tab:hover {
    color: #888;
    cursor: pointer;
    border-bottom: 2px solid #888;
}

input.custom_res_tab:checked + label.custom_res_tab {
    color: #0069ff;
    border-bottom: 2px solid #0069ff;
    border-top: 1px solid #f2f2f2;
}


@media screen and (max-width: 650px) {
    label.custom_res_tab {
        font-size: 0;
    }
    label.custom_res_tab:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label.custom_res_tab {
        padding: 15px;
    }
}
.main-loading-message{
    position: fixed;
    top: 400px;
    width: 100%;
    padding-left: 210px;
    z-index: 1100;
}
.loading-wrap{
    position: relative;
    width: 100px;
    margin: auto;
}
.sidebar-loading-message{
    position: fixed;
    left: 75px;
    top: 410px;
    width: 50px;
    z-index: 1100;
}
.header_account_email{
    margin-top:5px;
    margin-left:5px
}
.header_account_destroy{
    margin-top:5px;
    margin-left:5px;
    margin-right: 5px;
    line-height: 25px;
    cursor: pointer;
}
.header_account_destroy:hover{
    background-color: #eff2f3;
    background-image: none;
    color: #1b1e24;
    text-decoration: none;
}
#blockDiv {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}



#main-content{
    padding-top: 148px !important;
}
.hidden{
    display: none;
}
.deleted{
    display: none;
}

.left-friend-list{
    border-left:1px solid #ccc;
    /*border-right:1px solid #ccc;*/
    border-top:1px solid #ccc;
    min-height: 170px;
}
.tabs_panel_body{
    border: 1px solid #ccc;
    min-height: 751px;
    max-height: 751px;
    overflow-y: auto;
}
.left-friend-list-title{
    font-weight: bold;
    padding: 15px;
    color: #94101d;
    margin-top: 100px;
}
.left-my-self-title{
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255,255,0,0.1)!important;
    cursor: pointer;
}
.left-my-self-title:hover, .left-my-self-title:active{
    background-color: #4a4a4a!important;
}
.left-friend-list-content-row{
    cursor: pointer;
    background-color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 2;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #e8e8e8;
}
.self-profile-content-row{
    cursor: pointer;
    background-color: #776b5d;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.5;
    padding-top: 2px;
    padding-bottom: 2px;
}
.left-friend-list-content-row:active,.left-friend-list-content-row:hover{
    background-color: #eeeeee;
}
.left-friend-list-content-row:active .friend_info,.left-friend-list-content-row:hover .friend_info{
    /*color: #fff;*/
}
.left-friend-list-content-row:active .setting_title,.left-friend-list-content-row:hover .setting_title{
    color: #fff;
}

.left-friend-list-content-row:active .icon_description,.left-friend-list-content-row:hover .icon_description{
    color: #fff;
}

.left-friend-list-content-row{
    background-color: #ffffff;
}
.left-friend-list-content-row-odd{
    background-color: #ffffff;
}
.left-friend-list-content-row-even{
    background-color: #f5f5f5;
}
.left-friend-list-content-row-last{
    border-bottom: 1px solid #e8e8e8;
}
.left-friend-list-content-row .friend_info{
    margin-left: 8px;
    margin-top: 5px;
    float: left;
    line-height: 1.5;
}
.self-profile-content-row .friend_info{
    margin-left: 12px;
    line-height: 1.2;
    padding-top: 3px;
}

.dialog-left-friend-list-content-row{
    cursor: pointer;
    background-color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 2;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #e8e8e8;
}

.left-friend-list-content-row1:active,.left-friend-list-content-row1:hover{
    background-color: #4a4a4a;
}
.left-friend-list-content-row1:active .friend_info,.left-friend-list-content-row1:hover .friend_info{
    color: #fff;
}
.left-friend-list-content-row1:active .setting_title,.left-friend-list-content-row1:hover .setting_title{
    color: #fff;
}

.left-friend-list-content-row1:active .icon_description,.left-friend-list-content-row1:hover .icon_description{
    color: #fff;
}

.left-friend-list-content-row1{
    background-color: #ffffff;
}
.left-friend-list-content-row1 .friend_info{
    margin-left: 8px;
    margin-top: 5px;
    float: left;
    line-height: 1.2;
}

.friend-selected{
/*    color: #7f0017;
    font-weight: bold;*/
    background-color: #eeeeee;
}
.left-friend-list-content{
    overflow-x: auto;
    overflow-y: auto;
    /*min-height: 710px;
    max-height: 710px;*/
    border-top: 1px solid #e4e4e4;
}

.self-profile-info-box{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
}
.profile-info-box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    width: 135px;
}
.customer-profile-info-box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    width: 130px;
}
.dialog-profile-info-box{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    width: 150px;
}

.friend_info .friend_name{
    font-weight: bold;
    color: #f47564;
}
.friend_info .friend_tag_id{
    font-size: 11px;
}
.friend-action-box{
    float: right;
    margin-top: 17px;
}
.dialog-friend-action-box{
    float: right;
    display: none;
}
.friend-action{
     color: #ffffff;
     background-color: #f47564;
     width: 18px;
     height: 18px;
     display: inline-block;
     text-align: center;
     border-radius: 3px;
     font-size: 10px;
 }
.dialog-friend-action{
    color: #ffffff;
    background-color: #f47564;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    margin-top: 22px;
    border-radius: 3px;
    font-size: 10px;
}
.accept-action{
    margin-right: 2px;
}
.tabs-panel-top{
    margin-top: 8px;
    margin-left: 210px;
}
.tabs-panel-top-block-left{
    float: left;
    padding: 5px;
    margin-left: 25px;
}
.tabs-panel-top-block-left a{
    color: #23f9e6;
}
.tabs-panel-top-block-right{
    float: right;
    padding: 5px;
    margin-right: 25px;
}
.tabs-panel-top-block-profile{
    float: right;
}
.tabs-panel-top-block-profile-btn{
    background-color: #ff0000;
    width: 28px;
    height: 28px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    display: inline-block;
}
.tabs-panel-top-block-point{
    float: right;
    padding: 5px;
    margin-right: 15px;
}
body.panel_body{
    background-color: #ffffff;
}
@media screen and (max-width: 872px) {
    .amount_div {
        display: none;
    }
    .tag_div{
        display: none;
    }
}
@media screen and (max-width: 872px) {
    a.logo {
        display: none;
    }
    .tabs-panel-top{
        margin-left: 0px;
    }
}
.filter-action-block{
    text-align: left;
    width: 830px;
    margin: 0 auto;
}
.filter-result-block{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: -webkit-center;
    /*max-height: 565px;
    overflow-y: auto;*/
}
.customer-search-acl-result-block{
 margin-top: 40px;
 margin-bottom: 30px;
}
.cloud-row{
    margin-top: 30px;
    margin-bottom: 50px;
}

.cloud-tunnels{
    margin-top: 10px;
    margin-bottom: 10px;
}
.customer-search-acl-result-block .acl_div{
    margin-bottom: 12px;
}
.customer-search-acl-result-block .soumya{
    margin-left: 0px;
    margin-top: 5px;
}
.cloud-tunnels {

}

.page-content{
    overflow-x: auto;
    /*background-color: #ffffff!important;*/
}
.cloud-name{
    padding-top: 12px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.acl_searchable_switch_block{
    float: left;
    margin-right: 5px;
}
.tunnel_searchable_switch_block{
    float: left;
    margin-top: 6px;
    margin-left: 5px;
}
.cloud_searchable_switch_block{
    padding-top: 11px;
    float: right;
}
.account_searchable_switch_block{
    float: right;
    margin-right: 12px;
    padding-top: 4px;
}
.delete_cloud{
    float: right;
}
#profile_image_viewer{
    height: 100px;
}
.profile_top_image{
    width: 27px;
    height:27px;
}
.profile_short_image{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 2px solid #ffffff;
}
.friend_short_image{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #ffffff;
}
.left-friend-panel{
    width:190px;
    height: 100%;
    float: left;
}
.friend_info .self_name{
    color:#ffffff;
}
.friend_info .self_tag_id{
    color:#ffffff;
    font-size: 10px;
}
.acl_search_result .installed_acl{
    background-color: #777777!important;
}





.right-friend-panel{
    padding-top: 100px;
    width:87%;
    float: left;
    border-left: 1px solid #e4e4e4;
    padding-left: 1%;
    min-height: 100%;
}
.add-cloud-block{
    display: inline-block;
    margin-left: 33px;
}
.filter-block{
    padding-left: 0px;
    display: inline-block;
}
.custom-info-box{
    float: left;
    /* width: 30px; */
    height: 30px;
    color: #ffffff;
    min-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2.8;
}
.like-box{
    background-color: rgba(0, 255, 0, 0.1);
    width: 75%;
}
.photos-box{
    background-color: #1fbba6;
}
.icon_image{
    width: 10px;
    height: 10px;
}
.icon_box{
    line-height: 1.5;
    text-align: center;
    height: 12px;
}
.icon_description{
    text-align: center;
    font-size: 11px;
    color: rgba(128,128,128,1);
}
.setting-box{
    line-height: 1;
}
.setting_box{
    float: left;
    padding-left: 8px;
    padding-top: 9px;
    text-align: center;
    height: 12px;
}
.setting_title{
    float: left;
    margin-left: 23px;
    font-size: 11px;
    color: #a0a0a0;
}
.profile-extra-info-box{
    margin-left: -10px;
    margin-right: -11px;
}
.tabs-panel-top-block-link:hover{
    color: #ffff00;
}
.webui-popover-title{
    display: none;
}
.tab-element{
    background-image: url("../img/tab_png.png");
    float: left;
    width: 33.333%;
    height: 38px;
    background-size: contain;
    text-align: center;
    padding-top: 10px;
    font-size: 11px;
    color: #ffffff;
    cursor: pointer;
}
.tab-element-selected{
    background-image: url("../img/tab_selected.png");
}
.friend-search-box{
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
}
.friend-search-text{
    border-radius: 30px!important;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc!important;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding-left: 12px!important;
}

.dialog-tab-element{
    background-image: url("../img/tab_png.png");
    float: left;
    width: 33.333%;
    height: 38px;
    background-size: contain;
    text-align: center;
    padding-top: 7px;
    color: #ffffff;
    cursor: pointer;
}
.dialog-tab-element-selected{
    background-image: url("../img/tab_selected.png");
}

.dialog-friend-search-box{
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
}
.dialog-friend-search-text{
    border-radius: 30px!important;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc!important;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding-left: 12px!important;
}
.friend-badge{
    position: relative;
    bottom: 8px;
    left: -2px;
    text-align: center;
    font-size: 7px;
    background-color: #00a65a;
    padding: 2px;
    border-radius: 15px;
}
.cloud-content{
    margin-left: 5px;
}
.paginationjs{
    width: 830px;
    margin: 0 auto;
}
#content3{
    text-align: left;
}
.soumya_btn_search{
    margin-bottom: 10px;
    text-align: left;
    width: 790px;
    margin-left: auto;
    margin-right: auto;
}
.acl_name_div1{
    text-align: center;
    display: inline-block;
}
.acl_description_div1{
    text-align: center;
    display: inline-block;
}
.profile-page-content{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    width: 830px;
    margin: auto;
}
.aliasing-label{
    line-height: 36px;
}
.line-sepearator{
    border-bottom: 1px dotted #ccc;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 75px;
}